/* family=Lato:wght@100;300;700 
family=Playfair Display:wght@400;700;800;*/
:root {
    --heading-color: #48494e;
    --secondary-color: #79b4b7;
    --background-color: #fefbf3;
}
body {
    font-family: "Lato", sans-serif;
}
h1 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 800;
    font-size: 90px;
    color: var(--heading-color);
}
h2 {
    font-size: 32px;
}
.navbar {
    background-color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    max-width: 1500px;
    margin: 0 auto;
}
.main-container {
    max-width: 1200px;
    margin: 20px auto 0px;
}
.main-text-presentation {
    background-color: var(--background-color);
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
}
.text-and-button {
    margin-top: 100px;
}
.homepage-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.btn-secondary {
    font-weight: 700;
    background-color: var(--secondary-color);
    padding: 15px;
    border: var(--secondary-color);
}
.btn-secondary:hover {
    background-color: var(--heading-color);
    border: var(--heading-color);
}

.fa-tree {
    font-size: 25px;
    padding: 12px;
}
.fa-linkedin {
    vertical-align: middle;
}
.footer {
    max-width: 1500px;
    background-color: #79b4b754;
    margin: 0 auto;
    padding: 26px 28px 60px;
    color: var(--heading-color);
    font-size: 20px;
    line-height: 15px;
}
.footer a {
    color: var(--heading-color);
    text-decoration: none;
}

.footer-small-text {
    font-weight: 300;
}
.footer-bold-text {
    font-weight: 700;
    display: inline-block;
}

@media (min-width: 992px) {
    .text-and-button,
    .homepage-image {
        width: 50%;
    }
}
@media (max-width: 995px) {
    .main-container img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .homepage-button {
        margin-bottom: 15px;
    }
    .text-and-button {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .main-container h1 {
        font-size: 60px;
    }
    .main-container h2 {
        font-size: 23px;
    }
    .footer {
        font-size: 15px;
    }
}

/* Bootstrap overrires */
.fixed-top {
    position: sticky;
}
