/* family=Lato:wght@100;300;700 
family=Playfair Display:wght@400;700;800;*/
:root {
    --heading-color: #48494e;
    --secondary-color: #79b4b7;
    --background-color: #fefbf3;
    --footer-background: #79b4b754;
}

.projects {
    --heading-color: #48494e;
    --secondary-color: #ba7967;
    --background-color: #fefbf3;
    --footer-background: #ffdecf;
}
.about {
    --heading-color: #48494e;
    --secondary-color: #734046;
    --background-color: #fefbf3;
    --footer-background: #ffd5cd;
}
.contact {
    --heading-color: #48494e;
    --secondary-color: #22577a;
    --background-color: #fefbf3;
    --footer-background: #ccf2f4;
}
.certificates {
    --heading-color: #48494e;
    --secondary-color: #2c5d63;
    --background-color: #fefbf3;
    --footer-background: #b8c775;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 800;
    font-size: 90px;
    color: var(--heading-color);
}
h2 {
    font-size: 32px;
}

.navbar {
    background-color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    max-width: 1500px;
    margin: 0 auto;
}

.main-container {
    max-width: 1200px;
    margin: 20px auto 0px;
}

.main-text-presentation {
    background-color: var(--background-color);
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
}

.text-and-button {
    margin-top: 100px;
}
.homepage-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.btn-secondary {
    font-weight: 700;
    background-color: var(--secondary-color);
    padding: 15px;
    border: var(--secondary-color);
}
.btn-secondary:hover {
    background-color: var(--heading-color);
    border: var(--heading-color);
}

.fa-tree {
    font-size: 25px;
    padding: 12px;
}
.fa-linkedin {
    vertical-align: middle;
}

.footer {
    max-width: 1500px;
    background-color: var(--footer-background);
    margin: 0 auto;
    padding: 26px 28px 60px;
    color: var(--heading-color);
    font-size: 20px;
    line-height: 15px;
}
.footer a {
    color: var(--heading-color);
    text-decoration: none;
}
.footer-small-text {
    font-weight: 300;
}
.footer-bold-text {
    font-weight: 700;
    display: inline-block;
}

@media (min-width: 992px) {
    .text-and-button,
    .homepage-image {
        width: 50%;
    }
}

@media (max-width: 995px) {
    .main-container img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .homepage-button {
        margin-bottom: 15px;
    }
    .text-and-button {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .main-container h1 {
        font-size: 40px;
    }
    .main-container h2 {
        font-size: 23px;
    }
    .footer {
        font-size: 15px;
    }
}

/* Bootstrap overrites */
.fixed-top {
    position: sticky;
}

/* Projects page */

.heading-of-project {
    font-size: 40px;
    font-weight: 700;
    padding: 15px;
    color: var(--heading-color);
}
.visit-the-project-link {
    color: var(--heading-color);
    font-weight: 900;
    font-size: 35px;
}
.visit-the-project-link:hover {
    color: #727171;
    transition: 0.5s ease-out;
}
.dictionary-project-container .visit-the-project-link {
    display: block;
    margin: 0 auto;
}

.projects .main-text-presentation {
    width: 70%;
    display: block;
    margin: 100px auto 50px;
}

.first-project-container,
.dictionary-project-container {
    background-color: #e2dcd571;
    padding: 25px;
    margin-bottom: 20px;
}
.second-project-container {
    background-color: var(--background-color);
    padding: 25px;
}
.text-weather-app,
#img-weather-app {
    width: 70%;
    margin: 0 auto;
}
#img-dictionary {
    max-width: 100%;
}
.text-dictionary {
}

.projects .homepage-button {
    margin-bottom: 60px;
}

@media (max-width: 995px) {
    .visit-the-project-link {
        font-size: 25px;
    }

    #img-west-coast2,
    #img-weather-app,
    .text-weather-app {
        width: 100%;
    }

    .projects .main-text-presentation {
        margin-top: 20px;
        margin-bottom: 15px;
        width: 80%;
    }
}

/* About page */
.about .main-text-presentation {
    width: 60%;
    display: block;
    margin: 50px auto;
}
.about .heading-of-project {
    text-align: center;
    margin: 20px 0 0;
}
#cv-body {
    width: 80%;
    margin: 0 auto 100px;
}
#cv-body .row {
    padding: 12px;
}
.cv-language {
    display: block;
}
@media (max-width: 995px) {
    .about .main-text-presentation {
        width: 80%;
        margin-bottom: 5px;
    }
    .about .main-text-presentation h2 {
        font-size: 23px;
    }
    #cv-body {
        margin-bottom: 50px;
    }
    .about .btn {
        margin-bottom: 50px;
    }
}
/* Contact */
.contact .main-text-presentation {
    width: 60%;
    display: block;
    margin: 50px auto 0;
}
.contact h1 {
    font-size: 50px;
}
#contact-image {
    width: 100%;
}
.contact-form {
    margin-top: 100px;
}

@media (min-width: 992px) {
    .contact .text-and-image,
    .contact .contact-form {
        width: 50%;
    }
}
@media (max-width: 995px) {
    .contact-form {
        margin-top: 20px;
    }
    .contact h1 {
        font-size: 40px;
    }
    .contact .main-text-presentation {
        width: 80%;
    }
}
/* Certificates */
.content {
    max-width: 65%;
}

.certificateWithContent {
    display: flex;
    align-items: center;
}
.certificateWithContent > img {
    width: 54% !important;
}
.certificateWithContent > div {
    width: 46% !important;
}

.headingAndContent {
    text-align: center;
}
.certificates h2 {
    font-weight: bolder;
    font-size: 30px;
    color: #48494e;
    margin-bottom: 18px;
}
